#background-img {
    background-color: beige;
    background-image: url("../img/200px-Fragaria_Fruit_Close-up.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-attachment: 

}