.container {
    font-size: 20px;
}

html {
    font-size: 24px
}

.container div {
    background-color: aqua;
    margin-bottom: 10px;
}

.em {
    font-size: 3em;
}

.procent {
    font-size: 50%;
}

.vh {
    height: 50vh;
}

.pixels {
    font-size: 40px;
}